<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Get Patient Diagnosis and Therapy</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/jumbotron-narrow.css" rel="stylesheet">

    <script src="static/js/angular.js"></script>

    <script>
        angular.module('myApp', [])
            .controller('HomeCtrl', function($scope, $http) {

				$scope.info = {};

				$scope.showAdd = true;
				$scope.showGet = true;

				$scope.showlist = function(){
					$http({
						method: 'GET',
						url: '/getPatientList',

					}).then(function(response) {
						$scope.patients = response.data;
						console.log('mm',$scope.patients);
					}, function(error) {
						console.log(error);
					});
				}



				$scope.getDiagnosis = function(){

					$http({
						method: 'POST',
						url: '/getDiagnosis',
						data: {info:$scope.info}
					}).then(function(response) {
						$scope.showlist();
						$('#addPopUp').modal('hide')
						$scope.info = {}
					}, function(error) {
						console.log(error);
					});
				}

				$scope.getPatient = function(){

					$http({
						method: 'POST',
						url: '/getPatient',
						data: {info:$scope.info}
					}).then(function(response) {
						$scope.patients = response.data;
						// $scope.showlist();
						$('#getPopUp').modal('hide')
						$scope.info = {}
					}, function(error) {
						console.log(error);
					});
				}


				$scope.showAddPopUp = function(){
					$scope.showAdd = true;
					$scope.info = {};
					$('#addPopUp').modal('show')
				}


				$scope.showGetPopUp = function(){
					$scope.showGet = true;
					$scope.info = {};
					$('#getPopUp').modal('show')
				}

				$scope.showlist();
			})

    </script>


</head>

<body ng-controller="HomeCtrl">
    <div class="container">
        <div class="header clearfix">
				<h3 class="text-muted">Patient Diagnosis</h3>
            <nav>
                <!-- <ul class="nav nav-pills pull-right"> -->
				<ul class="nav nav-tabs">
						<!-- class="active" -->
                    <li class="pull-right" role="presentation" ><a href="#" data-toggle="modal" ng-click="showAddPopUp()" >Get Diagnosis</a></li>
				</ul>

				<ul class="nav nav-pills pull-right">
						<li class="pull-right" role="presentation" ><a href="#" data-toggle="modal" ng-click="showGetPopUp()" >Get Patient</a></li>
				</ul>

            </nav>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div>
				<!--  class="panel panel-default" -->
				<!-- <div class="panel-heading">Patient list</div> -->

        
				<div class="searchText">
					&#8195;Search : <input type="text" placeholder="Search Patient" ng-model="searchText"/> <br/><br/>
                <table class="table">
                    <thead>
                        <tr>
							<th>#</th>
                            <th>Patient Id</th>
                            <th>Name</th>
							<th>Surname</th>
							<th>Diseases</th>
							<th>Diseases date</th>
							<th>Treatment</th>
							<th></th>
							<th></th>
							<th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="patient in patients | filter:searchText track by $index">
								<!-- <ul>
										<li *ngFor="let object of patient | groupBy:'patient.patid'"></li>
										</ul> -->
                            <th scope="row">{{'{{$index+1}}'}}</th>
                            <td>{{ '{{patient.patid}}' }}</td>
                            <td>{{ '{{patient.name}}' }}</td>
							<td> {{'{{patient.surname}}'}}</td>
							<td> {{'{{patient.diseases}}'}}</td>
							<td> {{'{{patient.diseases_date}}'}}</td>
							<td> {{'{{patient.treatment}}'}}</td>
							<!-- <td> {{'{{patient.treatment_date}}'}}</td> -->
                            <!-- <td>{{'{{patient.password}}'}}</td>
                            <td>{{'{{patient.port}}'}}</td> -->
							<!-- <td><span style="cursor:pointer;" ng-click="editpatient(patient.id)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span></td>
							<td><span style="cursor:pointer;color:#e43309;" ng-click="confirmDelete(patient.id)" class="glyphicon glyphicon-remove" aria-hidden="true"></span></td> -->
							<!-- <td><span style="cursor:pointer;color:#3c763d;" ng-click="showRunPopUp(patient.id)" class="glyphicon glyphicon-play" aria-hidden="true"></span></td> -->
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
	</div>

    </div>

    <div class="modal fade" id="addPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel" >Get Patient diagnosis</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="txtDevice" class="control-label">Patid:</label>
                            <input type="text" class="form-control" ng-model="info.patid" id="txtDevice">
                        </div>
                        <div class="form-group">
                            <label for="txtIP" class="control-label">Icd9:</label>
                            <input type="text" class="form-control" ng-model="info.icd9" id="txtIP">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                    <button ng-show="showAdd" id="btnAdd" ng-click="getDiagnosis()" type="button" class="btn btn-primary">Get Diagnosis</button>

					<!-- <button ng-show="!showAdd" id="btnAdd" ng-click="updatepatient()" type="button" class="btn btn-primary">Update</button> -->
                </div>
            </div>
		</div>
	</div>


	<div>
		<div class="modal fade" id="getPopUp" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel" >Get Patient</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="txtDevice" class="control-label">Patid:</label>
								<input type="text" class="form-control" ng-model="info.patid" id="txtPatId">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
						<button ng-show="showGet" id="btnAdd" ng-click="getPatient()" type="button" class="btn btn-primary">Get Patient</button>
					</div>
				</div>
			</div>


		</div>
	</div>


    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>

    	<!-- Le javascript
        ================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    	<script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap.js"></script>

    	<script src="http://getbootstrap.com/2.3.2/assets/js/holder/holder.js"></script>
    	<script
    		src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>

    	<script src="http://getbootstrap.com/2.3.2/assets/js/application.js"></script>
</body>

</html>
